<div class="grid-container">
    <div class="grid-header">
      <div class="search-container">
        <span class="search-icon bx bx-search">
          Duration_Per
        </span>
      </div>
      <div class="grid-header-right">
  
      </div>
    </div>
    <div class="p-4">
      <mat-tab-group>
        <mat-tab label="General Info"><app-load-edit-general></app-load-edit-general>
        </mat-tab>
        <mat-tab label="Time Bucket"><app-load-edit-time></app-load-edit-time></mat-tab>
      </mat-tab-group>
    </div>
    <div class="text-center">
      <button type="submit" class="btn-submit-form">Create</button>
      <app-button-back></app-button-back>
  </div>
  </div>