<div class="grid-container">
  <div class="grid-header">
    <div class="search-container">
      <span class="search-icon bx bx-search">
        New Role
      </span>
    </div>
    <div class="grid-header-right">

    </div>
  </div>
  <div class="p-4">
    <mat-tab-group>
      <mat-tab label="General Info"><app-role-create-table-general></app-role-create-table-general>
      </mat-tab>
      <mat-tab label="Module Access">Module Access</mat-tab>
    </mat-tab-group>
    <div class="text-center">
      <button type="submit" class="btn-submit-form">Create</button>
      <button (click)="backClicked()" type="submit" class="btn-submit-form ml-5">Cancel</button>
  </div>
  </div>
</div>