<div class="table-container">
    <table class="min-w-full">
        <thead class="bg-gray-50 dark:bg-gray-700">
            <tr>
                <th scope="col">
                    Type
                </th>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    Versions
                </th>
                <th scope="col">
                    Status
                </th>
                <th scope="col">
                    Actions
                </th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td>*</td>
                <td>ATMControllerScript_BalanceInquiry</td>
                <td>1.0</td>
                <td></td>
                <td class="flex justify-evenly">
                    <hero-icon routerLink="edit" name="pencil-alt" class="w-4 h-4 cursor-pointer"></hero-icon>
                    <hero-icon name="eye" class="w-4 h-4"></hero-icon>
                    <hero-icon name="trash" class="w-4 h-4"></hero-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>