<div class="table-container">
    <table class="min-w-full">
        <thead class="bg-gray-50 dark:bg-gray-700">
            <tr>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    Load Config
                </th>
                <th scope="col">
                    Bucket Config
                </th>
                <th scope="col">
                    Actions
                </th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td>
                    <p>Duration_Per</p>
                    <p>Constant</p>
                </td>
                <td>
                    <p>5 Virtual User</p>
                    <p>15 Duration(s)</p>
                    <p>5 Global Time(s)</p>
                </td>
                <td>
                    <p>7 Bucket Count</p>
                    <p>1000 Bucket Size(ms)</p>
                </td>
                <td class="flex justify-evenly mt-6">
                    <hero-icon routerLink="edit" name="pencil-alt" class="w-4 h-4 cursor-pointer"></hero-icon>
                    <hero-icon name="play" class="w-4 h-4"></hero-icon>
                    <hero-icon name="trending-up" class="w-4 h-4"></hero-icon>
                    <hero-icon name="trash" class="w-4 h-4"></hero-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>