<div class="grid-container">
    <div class="grid-header">
        <div class="search-container">
            <span class="search-icon bx bx-search">
                Jalin_Preparation
            </span>
        </div>
        <div class="grid-header-right">
          
        </div>
    </div>
    <div class="p-4">
        <form class="p-8">
            <div>
                <div class="input-container">
                    <input type="text" placeholder=" " required="" value="asd">
                    <label class="input-label">Name</label>
                </div>
                <div class="input-container">
                    <input type="date" placeholder=" " required="" value="asdasdasda">
                    <label class="input-label">Time Zone</label>
                </div>
                <div class="flex space-x-5">
                    <div class="input-container">
                        <input type="date" placeholder=" " required="" value="2021">
                        <label class="input-label">Active Since</label>
                    </div>
                    <div class="input-container">
                        <input type="date" placeholder=" " required="" value="2022">
                        <label class="input-label">Active Till</label>
                    </div>
                </div>
                <div class="input-container">
                    <input type="text" placeholder=" " required="" value="15112">
                    <label class="input-label">Zip Code</label>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn-submit-form">Save</button>
                <app-button-back></app-button-back>
            </div>
        </form>
    </div>
</div>