<header>
    <div class="header-content">
        <!-- <h1>Dashboard</h1> -->
        <div class="header-logout">
            <div class="dropdown">
                <hero-icon name="question-mark-circle" class="mr-7 w-5 h-5"></hero-icon>
                <hero-icon name="bell" class="mr-7 w-5 h-5"></hero-icon>
                    <hero-icon name="cog" class="mr-7 w-5 h-5 dropdown-toggle cursor-pointer" id="dropdownMenuSetting" data-bs-toggle="dropdown"
                    aria-expanded="false"></hero-icon>
                          
                <!-- Dropdown menu profile -->
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuSetting">
                    <li>
                        <a class="dropdown-item relative" href="#">
                            <hero-icon name="cloud" class="h-5 w-5 absolute"></hero-icon>
                            <p class="pl-8">Import/Export</p>
                        </a>
                    </li>
                    <hr />
                    <li>
                        <a class="dropdown-item relative" href="#">
                            <hero-icon name="clock" class="h-5 w-5 absolute"></hero-icon>
                            <p class="pl-8">Env Variable</p>
                        </a>
                    </li>
                    <hr />
                    <li>
                        <a class="dropdown-item relative" href="#">
                            <hero-icon name="logout" class="h-5 w-5 absolute"></hero-icon>
                            <p class="pl-8">DSL</p>
                        </a>
                    </li>
                    <hr>
                    <li>
                        <a class="dropdown-item relative" href="#">
                            <hero-icon name="logout" class="h-5 w-5 absolute"></hero-icon>
                            <p class="pl-8">Connector</p>
                        </a>
                    </li>
                    <hr>
                    <li>
                        <a class="dropdown-item relative" href="#">
                            <hero-icon name="logout" class="h-5 w-5 absolute"></hero-icon>
                            <p class="pl-8">Agent</p>
                        </a>
                    </li>
                    <hr>
                    <li>
                        <a class="dropdown-item relative" href="#">
                            <hero-icon name="download" class="h-5 w-5 absolute"></hero-icon>
                            <p class="pl-8">Agent Download</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenuButton1d" data-bs-toggle="dropdown"
                    aria-expanded="false" type="button">
                    <span class="sr-only">Open user menu</span>
                    <img src="../../../assets/0.jpg" alt="user photo">
                </button>            
                <!-- Dropdown menu profile -->
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1d">
                    <li>
                        <a class="dropdown-item relative" href="#">
                            <hero-icon name="pencil-alt" class="h-5 w-5 absolute"></hero-icon>
                            <p class="pl-8">Edit Profile</p>
                        </a>
                    </li>
                    <hr />
                    <li>
                        <a class="dropdown-item relative" href="#">
                            <hero-icon name="clock" class="h-5 w-5 absolute"></hero-icon>
                            <p class="pl-8">Session Report</p>
                        </a>
                    </li>
                    <hr />
                    <li class="flex">
                        <a routerLink="/login" class="dropdown-item relative" href="#">
                            <hero-icon name="logout" class="h-5 w-5 absolute"></hero-icon>
                            <p class="pl-8">Logout</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>