<div class="grid-container">
    <div class="grid-header">
        <div class="search-container">
            <span class="search-icon bx bx-search">
                Reno.admin@renovite.com
            </span>
        </div>
        <div class="grid-header-right">

        </div>
    </div>
    <div class="p-4">
        <mat-tab-group>
            <mat-tab label="General Info">
                <form class="p-8">
                    <div>
                        <div class="flex space-x-5">
                            <div class="input-container">
                                <input type="text" placeholder=" " required="">
                                <label class="input-label">Name</label>
                            </div>
                            <div class="input-container">
                                <input type="email" placeholder=" " required="">
                                <label class="input-label">Login Email</label>
                            </div>
                        </div>
                        <div class="flex space-x-5">
                            <div class="input-container">
                                <input type="text" placeholder=" " required="">
                                <label class="input-label">Address</label>
                            </div>
                            <div class="input-container">
                                <input type="number" placeholder=" " required="">
                                <label class="input-label">Phone Number</label>
                            </div>
                        </div>
                        <div class="flex space-x-5">
                            <div class="input-container">
                                <input type="number" placeholder=" " required="">
                                <label class="input-label">Zip Code</label>
                            </div>
                            <div class="input-container">
                                <input type="text" placeholder=" " required="">
                                <label class="input-label">Time Zone</label>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn-submit-form">Save</button>
                        <button (click)="backClicked()" type="submit" class="btn-submit-form ml-5">Cancel</button>
                    </div>
                </form>
            </mat-tab>
            <mat-tab label="Module Access">
                <form class="p-8">
                    <div>
                        <div class="flex space-x-5">
                            <div class="input-container">
                                <p>Sample_Project</p>
                            </div>
                            <div class="input-container">
                                <select class="form-select appearance-none" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="flex space-x-5">
                            <div class="input-container">
                                <p>Jalin_Preparation</p>
                            </div>
                            <div class="input-container">
                                <select class="form-select appearance-none" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn-submit-form">Save</button>
                        <app-button-back></app-button-back>
                    </div>
                </form>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>