<form class="p-8">
    <div>
        <div class="flex space-x-5">
            <div class="input-container" style="width: 50%;">
                <input type="text" placeholder=" " required="">
                <label class="input-label">Name</label>
            </div>
            <div>
                <input type="checkbox" class="mt-5">
                <label class="ml-3">Agent Mode</label>
            </div>
            <div>
                <input type="checkbox" class="mt-5">
                <label class="ml-3">Testing Type</label>
            </div>
            <div>
                <input type="checkbox" class="mt-5">
                <label class="ml-3">Execution Mode</label>
            </div>
        </div>
        <div class="flex space-x-5">
            <div class="input-container">
                <label>Execution Type</label>
                <select class="form-select appearance-none" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="input-container">
                <label>Environtment</label>
                <select class="form-select appearance-none" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="input-container">
                <label>Agent</label>
                <select class="form-select appearance-none" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
        <div class="flex space-x-4">
            <p>Script to execute</p>
            <hero-icon name="plus" class="h-4 w-4">
            </hero-icon>
            <span>Add Script</span>
        </div>
    </div>
</form>