<div class="grid-container">
    <div class="grid-header">
        <div class="search-container">
            <span class="search-icon bx bx-search">
                Script Filter
            </span>
        </div>
        <div class="grid-header-right">
            <button routerLink="create" mat-flat-button class="create-button">
                <span class="create-text">Create</span>
            </button>
        </div>
    </div>
    <div class="p-4">
        <app-script-table></app-script-table>
    </div>
</div>