<div class="table-container">
    <table class="min-w-full">
        <thead class="bg-gray-50 dark:bg-gray-700">
            <tr>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    Time Zone
                </th>
                <th scope="col">
                    Active From - to
                </th>
                <th scope="col">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>