<div class="table-container">
    <table class="min-w-full">
        <thead class="bg-gray-50 dark:bg-gray-700">
            <tr>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    Environtment
                </th>
                <th scope="col">
                    Recent Stats
                </th>
                <th scope="col">
                    Agent
                </th>
                <th scope="col">
                    Status
                </th>
                <th scope="col">
                    Actions
                </th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td>ISO Perf</td>
                <td></td>
                <td>
                    <p>0%</p>
                    <p>100%</p>
                </td>
                <td>1 Agent</td>
                <td></td>
                <td class="flex justify-evenly mt-5">
                    <hero-icon routerLink="edit" name="pencil-alt" class="w-4 h-4 cursor-pointer"></hero-icon>
                    <hero-icon name="play" class="w-4 h-4"></hero-icon>
                    <hero-icon name="trending-up" class="w-4 h-4"></hero-icon>
                    <hero-icon name="trash" class="w-4 h-4"></hero-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>